In [ ]:
#Multiple Logistic Regression

In [1]:
#load in the packages
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
from sklearn import metrics

In [2]:
df = pd.read_csv('sports_survey_2021.csv')

In [7]:
IVs = ['S1', 'S2', 'D4', 'D5', 'D6', 
            'Hid_Ethnicity_Buckets', 'S12r3', 'VL2']
VL1s = ['VL1r1','VL1r2','VL1r4','VL1r5',
       'VL1r7','VL1r10','VL1r11','VL1r12',
       'VL1r13','VL1r14']
allfeatures = ['S1', 'S2', 'D4', 'D5', 'D6', 
            'Hid_Ethnicity_Buckets', 'S12r3', 'VL2','VL1r1','VL1r2','VL1r4','VL1r5',
            'VL1r7','VL1r10','VL1r11','VL1r12',
            'VL1r13','VL1r14']

In [11]:
#clean the data
df_cleaned = df.dropna(subset=allfeatures)
X = df_cleaned[IVs] # Features
y = df_cleaned[VL1s] # Target variable

In [21]:
X.describe()

,S1,S2,D4,D5,D6,Hid_Ethnicity_Buckets,S12r3,VL2
count,12227.000000,12227.000000,12227.000000,12227.000000,12227.000000,12227.000000,12227.000000,12227.000000
mean,1.366484,47.665576,3.569723,2.211908,4.320929,1.419563,6.194406,3.362885
std,0.481864,14.334166,1.669467,1.612460,1.340783,0.722250,6.649942,1.798378
min,1.000000,18.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
25%,1.000000,36.000000,2.000000,1.000000,4.000000,1.000000,2.000000,2.000000
50%,1.000000,47.000000,3.000000,1.000000,5.000000,1.000000,5.000000,3.000000
75%,2.000000,60.000000,5.000000,3.000000,5.000000,2.000000,9.000000,5.000000
max,2.000000,75.000000,7.000000,6.000000,7.000000,3.000000,90.000000,6.000000

In [14]:
classifiers = {
    'log_reg' : LogisticRegression(penalty=None, max_iter= 100000)}

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=614)

In [20]:
X_train = df_cleaned[VL1s]

for v in VL1s:
    y_train = X_train[v]
    for model_name, model in classifiers.items():
        model.fit(X_train,y_train)

        # We would rather use 'test' or holdout data here, but just running initial test
    accs = {model_name: accuracy_score(y_train, model.predict(X_train)) for model_name, model in classifiers.items()}

    print(v, accs)
#    accs

VL1r1 {'log_reg': 1.0}
VL1r2 {'log_reg': 1.0}
VL1r4 {'log_reg': 1.0}
VL1r5 {'log_reg': 1.0}
VL1r7 {'log_reg': 1.0}
VL1r10 {'log_reg': 1.0}
VL1r11 {'log_reg': 1.0}
VL1r12 {'log_reg': 1.0}
VL1r13 {'log_reg': 1.0}
VL1r14 {'log_reg': 1.0}